
@keyframes flameBackgroundAnimation {
    from {
        background-position: 0 0;
        animation-fill-mode: none;
    }
    to {
        background-position: 100% 0;
        animation-fill-mode: none;
    }
}

body {
    margin: 0;
    padding: 2rem;
    display: flex;
    justify-content: center;
    font-family: 'Helvetica Neue', sans-serif;
    align-items: center;
    min-height: 100vh;
    background-image: url('../images/flame-xl.jpg'); /* Путь к изображению огня */
    /*background-size: cover;*/
    animation: flameBackgroundAnimation 30s linear infinite; /* Запустить анимацию фона */
    animation-fill-mode: none;
}

.container {
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   background-color: rgb(59, 23, 55);
}

.header {
    text-align: center;
    margin-bottom: 20px;
    padding:2rem;
}

.header h1 {
    color: #66fcf1;
    margin: 30px 0;
}

.results {
    border-top: 2px solid #66fcf1;
    padding-top: 20px;
    margin-top: 20px;

}

.results p {
    color: #c5c6c7;
    margin: 5px 0;
}
 .results-table{
    color: aliceblue;
    border-bottom: 1px solid #c5c6c7;
 }

 .button:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    border-radius: 1px;
    border-color: rgb(232, 32, 32);
  }

